<footer class="footer navbar-mainbg py-2 mt-auto" style="margin-top: 0.5em;">
    <div class="container " style="text-align: center;">
        <span style="color: white; font-weight: 500;"> Roadmap-Creator</span>
    </div>
</footer>