<nav class="navbar navbar-expand-custom navbar-mainbg">
  <div class="container-fluid">
    <a class="navbar-brand navbar-logo" href="#">Roadmap-Creator</a>
    <button id="totoggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <% if(currentUser){ %> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li  class="nav-item" onclick="">
            <a class="nav-link" href="/"><i class="bi bi-speedometer"></i></i>Dashboard</a>
          </li>
          <li id="privateLi" class="nav-item">
            <a  id="viewPrivate" class="nav-link" href="/private"><i class="bi bi-file-lock-fill"></i>Private Roadmap</a>
          </li>
          <li id="publicLi" class="nav-item">
            <a id="viewPublic" class="nav-link" href="/public"><i class="bi bi-unlock-fill"></i>Public Roadmap</a>
          </li>
      </ul>
      <div id="exclude" class="navbar-links active navbar-nav" style="margin-left: auto;" >
        <a id="addPrivate" class="nav-link active mx-1" type="button" data-bs-toggle="modal" data-bs-target="#createPrivate">Add Private Roadmap</a>
        <a id="addPublic" class="nav-link active" type="button" data-bs-toggle="modal" data-bs-target="#createPublic">Add Public Roadmap</a>
        <a id="joinPublic" class="nav-link active mx-1" type="button" data-bs-toggle="modal" data-bs-target="#joinPublicModal">Join Roadmap</a>
        <a id="logout" class="nav-link active btn btn-sm" href="/logout" type="button">Logout</a>
      </div>
    </div>
    <% }else{ %> 
      <li class="nav-item">
        <a class="nav-link" href="/register"><i class="far fa-calendar-alt"></i>Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><i class="far fa-chart-bar"></i>Sign-In</a>
      </li>
    <% } %> 
    </div>
  </div>
</nav>