<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Roadmap-Creator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" container collapse navbar-collapse" id="navbarNavAltMarkup">
              <% if(currentUser){ %> 
                <div class="navbar-links active navbar-nav my-1">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" aria-current="page" href="#">All Questions</a>
                  <a class="nav-link" aria-current="page" href="#">Profile</a>
                </div>
              <% }else{ %> 
                  <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                    <a class="nav-link active" href="/login">Sign-In</a>
                  </div>
              <% } %>
              <div class="navbar-links active navbar-nav" style="margin-left: auto;">
                <a class="nav-link active" href="" type="button" data-bs-toggle="modal" data-bs-target="#create">Add Roadmap</a>
              </div>
        </div>
    </div>
</nav>