<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Roadmap-Creator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" container collapse navbar-collapse" id="navbarNavAltMarkup">
              <% if(currentUser){ %> 
                <div class="navbar-links active navbar-nav my-1">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                  <a id="viewPrivate" class="nav-link" aria-current="page" href="/private">Private Roadmaps</a>
                  <a id="viewPublic" class="nav-link" aria-current="page" href="/public">Public Roadmaps</a>
                </div>
                <div class="navbar-links active navbar-nav" style="margin-left: auto;">
                  <a id="addPrivate" class="nav-link active mx-1" type="button" data-bs-toggle="modal" data-bs-target="#createPrivate">Add Private Roadmap</a>
                  <a id="addPublic" class="nav-link active" type="button" data-bs-toggle="modal" data-bs-target="#createPublic">Add Public Roadmap</a>
                  <a id="joinPublic" class="nav-link active mx-1" type="button" data-bs-toggle="modal" data-bs-target="#joinPublicModal">Join Roadmap</a>
                  <a class="nav-link active btn btn-sm btn-secondary" href="/logout" type="button">Logout</a>
                </div>
              <% }else{ %> 
                  <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                    <a class="nav-link active" href="/login">Sign-In</a>
                  </div>
              <% } %>
        </div>
    </div>
</nav>