<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="_ZC4ds40PeW8T52ur7bhkwm-CTOcc_ShC9JFYDRXi5o" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Roadmap-Creator</title>
</head>

<body class="d-flex">
    <div class="backgroundShape"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Roadmap-Creator</h3>
            </div>
        </header>
        <!-- <main class=" container px-3 mt-5">
            <h1>Roadmap-Creator</h1>
            <p class="lead">A platform where students can ask questions and connect with people who contribute unique insights and quality answers. </p>

        </main> -->
        <div class="whole">
            <div class="leftContainer rounded">
                <h1>Welcome !</h1>
                <p>In order for your product development to go off without a hitch, you need a well thought out plan. A
                    roadmap will communicate what the end result of your product should be, and the steps and tools needed
                    to get there.
    
                    But in order for your roadmap to do its job, it needs to be designed well. Your roadmap needs to be easy
                    to follow and engaging to readers.</p>
            </div>
            <div class="rightContainer .col-4 gap-2">
                <% if(!currentUser) { %>
                    <a class="btn btn-lg btn-warning my-1 btn-custom" href="/login">Login</a>
                    <a class="btn btn-lg btn-warning my-1 btn-custom" href="/register">Register</a>
                    <% } else { %>
                        <a class="btn btn-lg btn-warning my-1 btn-custom" href="/private">Roadmaps</a>
                        <a class="btn btn-lg btn-danger my-1 btn-custom" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>

        <div id="footer" class="mt-auto">
            <div style="font-size: x-large;"> Roadmap-Creator</div>
            <div id="socialHandles" class="mt-2">
                <a id="linkedin" href="https://in.linkedin.com/in/rohit-kumar-8ba1241bb?trk=profile-badgetarget=" target="_blank"></a>
                <a id="insta" href="https://www.instagram.com/hey.rohitt/" target="_blank"></a>
                <a id="github" href="https://github.com/shutupRohit" target="_blank"></a>
            </div>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
        </script>
</body>

</html>