<% layout('layouts/boilerplate') %>

<div  class="row d-flex justify-content-center align-items-center mt-5 mb-3 col-xs-12 smallS">
    <div class="card shadow col-6 col-xs-12 smallS">
        <div class="card-body">
            <div class="container d-flex justify-content-center align-iems-center my-3">
                <h5 class="card-title bold">Login</h5>
            </div>
            <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-dark" href="http://localhost:8080/login/google" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>
</div>