<% layout('layouts/boilerplate') %>

<div  class="row d-flex justify-content-center align-items-center mt-5 mb-3 col-xs-12 smallS">
    <div class="card shadow col-6 col-xs-12 smallS">
        <div class="card-body">
            <div class="container d-flex justify-content-center align-iems-center my-3">
                <h5 class="card-title bold">Login</h5>
            </div>
            <form action="/login" method="POST" novalidate class="validated-form">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" required>
                    <div class="valid-feedback">
                        Looks Good !
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid username.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password: </label>
                    <input id="password" class="form-control" type="password" placeholder="Password..." name="password"
                        required>
                    <div class="valid-feedback">
                        Looks Good !
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid password.
                    </div>
                </div>
                <div class="mb-3" style="display: flex; justify-content: center;">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
            <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-dark" href="https://young-inlet-09745.herokuapp.com/login/google" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>
</div>