.roadmapDiv{
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    min-height: 12rem;
    height: max-content;
    margin-right: 2rem;
    cursor: pointer;
}

.roadmapDiv p{
    padding: 1em;
}

.roadDivTitle{
    font-weight: bold;
}

.roadmapDiv:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.roadmapInnerDiv{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1.5em;
    padding-top: 0.5rem;
    border: 1px solid black;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
    min-height: 4rem;
    height: max-content
}

.roadmapInnerDiv span {
    font-size: larger;
    text-transform: capitalize;
}

.alert-class{
    display: flex;
    justify-content: center;
    text-align: center;
    width: max-content;
}

.section-class{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: max-content;
    min-height: 5rem !important;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
}

.section-class:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#sectionCount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    border: 1px solid black;
    margin-right: 1rem;
    height: 3em;
    margin-top: 0.5em;
}

.circle-count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
#sectioninfo{
    width: 90%;
}
#sectionoption{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 5%;
}