
.mainContainer{
    display: flex;
    justify-content: space-around;
}

.roadmapDiv{
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    min-height: 12rem;
    height: max-content;
    margin-right: 2rem;
    /* cursor: pointer; */
}

.roadmapDiv p{
    padding: 1em;
}

.roadDivTitle{
    font-weight: bold;
}
.roadDivTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}

.roadmapDiv:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.roadmapInnerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-left: 1.5em;
    padding-top: 0.5rem;
    border: 1px solid black;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 100%;
    min-height: 4rem;
    height: max-content
}

#roadmapInnerInfoDiv{
    display: flex;
    flex-direction: column;
}

.roadmapInnerDiv span {
    font-size: larger;
    text-transform: capitalize;
}

.alert-class{
    display: flex;
    justify-content: center;
    text-align: center;
    width: max-content;
}

.section-class{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: max-content;
    min-height: 5rem !important;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
}

.section-class:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#sectionCount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    border: 1px solid black;
    margin-right: 1rem;
    height: 3em;
    margin-top: 0.5em;
}

.hideClass{
    display: none;
}

.li-items:hover{
    background-color: rgb(179, 200, 240);
}

.circle-count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
#sectioninfo{
    width: 90%;
}
#sectionoption{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 5%;
}

#exclude a:not(#logout){
    color: #fff;
    padding: 8px 7px 3px 10px;
    text-decoration:none;
    cursor:pointer;
}

#exclude a:not(#logout):hover{
    color: violet !important;
    /* transition: all 0.5s ease-in-out !important; */
}

#logout{
    color: black;
    background-color: whitesmoke;
    padding: 0.5em;
}

#logout:hover{
    color: rgb(81, 97, 206);
    box-shadow: inset 0 0 5rem rgba(63, 101, 226, 0.5);
}

@media (min-width: 575px){
    .row-cols-sm-3>* {
        flex: 0 0 auto;
        width: 43.333333%;
    }
}
@media (min-width: 768px){
    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 28%;
    }
}
